.container {
    margin: 1.3vw; 
}

.top {
    display: flex;
    justify-content: right;
    width: 100%;
    padding-bottom: 1.7vw;
}

.addButton {
    width: 8vw;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 3vw;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  width: 90vw;
  height: 90vh;
  overflow: auto;
  border-radius: 50px;
  background-color: #F8F8F8;

}

.modal:focus-visible {
  outline: none;
}



