.top {
    display: flex;
    justify-content: right;
    padding-bottom: 2vw;
    margin-right: 4vw;
    
}

.addButton {
    
    width: 10vw;
    height: 10vw;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 6vw;
    margin-left: 4vw;
    margin-right: 4vw;
}
