.main {
    display: flex;
    padding: 8vh 0;
    align-items:flex-start;
    gap: 7vh;
    
    margin-right: 26vw;
    margin-left: 4vw;

}
.arrow {
    transform: scaleX(-1);
    width: 12vh;

}


