.variant {
    
    
    display: flex;
    flex-direction: row;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    
}

.variant_info {
    width: 30vw;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.variant_name {
    font-size: 2vw;
}

.variant_count{
    font-size: 1vw;

}

.optionCircle {
    justify-self: center;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: 0.2vw solid #3C743A; 
    background-color: #ddd; 
    cursor: pointer;
    transition: background-color 0.3s;
}

.optionCircle_active {
  background-color: #3C743A; 
}

.voteBarContainer {
  width: 100%;
  height: 6px;
  background-color: #ccc; 
  border-radius: 3px;
  margin-bottom: 8px;
  position: relative;
}

.voteBar {
  width: 70%;
  height: 100%;
  background-color: #2e7d32; 
  border-radius: 3px;
  transition: width 0.3s ease;
}

@media (max-width: 450px) {
  .variant_name {
      font-size: 5vw;
  }

  .variant_count{
      font-size: 3vw;

  }
  .optionCircle {
    width: 4vw;
    height: 4vw;
  }
}